---
import { Image } from 'astro:assets';
import Container from '@components/old/ui/Container.astro';
import Title from '@/components/ui/Title.astro';
import HeroRibbon1 from '@assets/hero/ribbon-1.png';
---

<Container>
	<div class="flex items-center justify-center text-center">
		<div class="max-w-2xl 2xl:max-w-5xl">
			<Title dataElementName="split-text" className="text-brandDarkGreen-60" size={'extraLarge'}>
				After an amazing year, letting culture loose in Leeds, we created these highlights to show
				you how it went down
			</Title>
		</div>
		<div class="absolute bottom-0 left-0 w-[320px] select-none 2xl:w-[530px]">
			<Image src={HeroRibbon1} alt="Hero Ribbon 1" />
		</div>
	</div>
</Container>

<script>
	import gsap from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';
	import { SplitText } from 'gsap/SplitText';
	gsap.registerPlugin(SplitText, ScrollTrigger);

	function scrollingText() {
		if (
			!document.querySelector('[data-element="split-text-section"]') ||
			!document.querySelector('[data-element="split-text')
		)
			return;
		const splitText = new SplitText('[data-element="split-text"]', {
			wordsClass: 'split-text-word',
		});
		gsap
			.timeline({
				scrollTrigger: {
					trigger: '[data-element="split-text-section"]',
					start: 'top 0%',
					end: 'bottom 100%',
					scrub: 0.75,
					pin: true,
				},
			})
			.set(
				splitText.chars,
				{
					color: '#082227',
					stagger: 0.1,
				},
				0.1
			);
	}

	scrollingText();
</script>
