---
import { storyblokEditable } from '@storyblok/astro';

import type { ExploreStoryblok } from '@/lib/storyblok/types';
type Props = { blok: ExploreStoryblok };
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<p>{JSON.stringify(blok.component)}</p>
</div>
