---
import { storyblokEditable } from '@storyblok/astro';

import type { ProjectStoryblok } from '@/lib/storyblok/types';

export type Project = Props;
type Props = {
	blok: ProjectStoryblok;
};
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<p>{JSON.stringify(blok.component)}</p>
</div>
