---
import { storyblokEditable } from '@storyblok/astro';

import type { StatStoryblok } from '@/lib/storyblok/types';
type Props = {
	blok: StatStoryblok;
};
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<p>{JSON.stringify(blok.component)}</p>
</div>
