---
import { storyblokEditable } from '@storyblok/astro';

import type { StoryStoryblok } from '@/lib/storyblok/types';

type Props = {
	blok: StoryStoryblok;
};

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<p>{JSON.stringify(blok.component)}</p>
</div>
