---
import { storyblokEditable } from '@storyblok/astro';

import type { AltStatsStoryblok } from '@/lib/storyblok/types';
type Props = {
	blok: AltStatsStoryblok;
};

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<p>{JSON.stringify(blok.component)}</p>
</div>
