---
import type { BigStatStoryblok } from '@/lib/storyblok/types';
import { cn } from '@/lib/utils';
import { storyblokEditable } from '@storyblok/astro';
type Props = {
	blok: BigStatStoryblok;
};
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<div class={cn()}></div>
</div>
