---
import { storyblokEditable } from '@storyblok/astro';
import type { EventStoryblok } from '@/lib/storyblok/types';

type Props = {
	blok: EventStoryblok;
};

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<p>{JSON.stringify(blok.component)}</p>
</div>
