---
import type { FooterContentStoryblok } from '@/lib/storyblok/types';
import { cn } from '@/lib/utils';
import FooterLink from '../ui/FooterLink.astro';
type Props = {
	blok: FooterContentStoryblok;
};

const { blok } = Astro.props;
---

<footer
	class={cn(
		'relative z-50 flex flex-col lg:flex-row items-center py-8 gap-8 lg:gap-0 justify-between bg-brandDarkGreen-100 px-4 text-white lg:px-8 lg:py-8'
	)}
>
	<div class="flex w-full items-center gap-8 lg:w-1/2">
		<div>
			<svg
				width="128"
				height="48"
				viewBox="0 0 128 48"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g clip-path="url(#clip0_505_4320)">
					<path
						d="M126.92 39.8438C126.427 38.5425 125.487 37.6595 124.301 37.0321C124.211 36.9856 124.099 36.9391 123.987 36.8694C124.077 36.7997 124.144 36.7532 124.233 36.7068C126.069 35.5217 126.853 33.4768 126.293 31.3157C125.823 29.5032 124.659 28.3646 123.047 27.621C121.883 27.0866 120.674 26.9007 119.42 26.9007C118.009 26.9007 116.621 27.1098 115.345 27.7605C113.711 28.5738 112.591 29.8286 112.278 31.734C112.166 32.4311 112.166 33.1282 112.323 33.8021H116.375C116.353 33.6627 116.33 33.5697 116.33 33.4768C116.218 32.4776 116.487 31.6178 117.293 30.9904C118.345 30.2236 120.315 30.2004 121.368 30.9672C122.532 31.8037 122.644 33.5 121.614 34.4992C121.077 35.0337 120.405 35.2661 119.666 35.3125C118.927 35.359 118.189 35.359 117.472 35.359C117.383 35.359 117.315 35.359 117.203 35.359C117.203 35.4752 117.203 35.5449 117.203 35.6146C117.203 36.5441 117.203 37.4736 117.203 38.4263C117.293 38.4263 117.383 38.4495 117.472 38.4495C117.965 38.4495 118.48 38.4495 118.972 38.4495C119.756 38.4495 120.517 38.5425 121.233 38.8446C121.883 39.1234 122.442 39.5184 122.801 40.1691C123.472 41.4704 123.069 43.0273 121.793 43.7708C120.271 44.6539 118.703 44.6539 117.136 43.8406C116.353 43.4455 115.86 42.7484 115.726 41.8422C115.659 41.3774 115.703 40.9127 115.703 40.4247L111.517 41.0753C111.405 42.5625 111.718 43.9335 112.636 45.1418C113.554 46.3502 114.785 47.0705 116.196 47.4655C117.987 47.9768 119.8 48.0232 121.614 47.6979C122.957 47.4423 124.211 46.9311 125.286 46.0016C127.077 44.5377 127.726 42.0281 126.92 39.8438ZM101.352 44.0032C102.181 43.6082 103.032 43.2596 103.838 42.8181C105.449 41.9816 106.972 41.0056 108.181 39.6346C110.33 37.218 110.957 34.4295 109.838 31.3622C109.032 29.1779 107.353 27.9231 105.181 27.2957C103.255 26.738 101.285 26.738 99.3598 27.2492C97.7031 27.6907 96.2926 28.5273 95.3075 29.968C93.7403 32.1987 93.6956 35.4519 95.1284 37.7989H99.4718C98.5315 36.4511 98.1509 34.964 98.4867 33.3374C98.7553 31.9664 99.5166 31.0137 100.882 30.6186C101.711 30.363 102.539 30.363 103.39 30.5489C104.554 30.8045 105.338 31.5249 105.763 32.6403C106.076 33.4303 106.144 34.2669 106.054 35.1266C105.897 36.4976 105.293 37.6595 104.33 38.6354C103.233 39.7508 101.935 40.5874 100.569 41.3309C98.621 42.3999 96.6061 43.3061 94.5911 44.1426C94.4344 44.2123 94.3672 44.2821 94.3672 44.468C94.3672 45.3974 94.3672 46.3502 94.3672 47.3029C94.3672 47.3726 94.3672 47.4655 94.3672 47.5353H110.33V44.1426H101.173C101.218 44.0729 101.285 44.0497 101.352 44.0032ZM65.4862 44.0032C66.3145 43.6082 67.1653 43.2596 67.9937 42.8181C69.6056 41.9816 71.1056 41.0056 72.337 39.6346C74.4863 37.218 75.1132 34.4295 73.9938 31.3622C73.1878 29.1779 71.5086 27.9231 69.337 27.2957C67.4116 26.738 65.4414 26.738 63.516 27.2492C61.8592 27.6907 60.4488 28.5273 59.4637 29.968C57.8965 32.1987 57.8517 35.4519 59.2846 37.7989H63.6279C62.6876 36.4511 62.307 34.964 62.6428 33.3374C62.9115 31.9664 63.6727 31.0137 65.0384 30.6186C65.8668 30.363 66.6951 30.363 67.5459 30.5489C68.7101 30.8045 69.4937 31.5249 69.9191 32.6403C70.2325 33.4303 70.2997 34.2669 70.2101 35.1266C70.0534 36.4976 69.4489 37.6595 68.4862 38.6354C67.3892 39.7508 66.0906 40.5874 64.7249 41.3309C62.7771 42.3999 60.7622 43.3061 58.7472 44.1426C58.5905 44.2123 58.5233 44.2821 58.5233 44.468C58.5233 45.3974 58.5233 46.3502 58.5233 47.3029C58.5233 47.3726 58.5233 47.4655 58.5233 47.5353H74.4863V44.1426H65.3294C65.3518 44.0729 65.419 44.0497 65.4862 44.0032ZM36.6275 43.6314C36.6275 45.258 36.023 46.0946 34.814 46.0946C33.605 46.0946 33.0005 45.258 33.0005 43.6314V38.984H31.2095V43.7708C31.2095 46.3269 32.4856 47.7212 34.814 47.7212C37.12 47.7212 38.4185 46.2805 38.4185 43.7708V38.984H36.6051V43.6314H36.6275ZM50.6202 31.6643H47.15V29.5962H51.2247V28.0393H45.3366V36.6138H47.1276V33.2212H50.5978V31.6643H50.6202ZM43.6127 42.8646H41.4858V40.5409H43.6127C44.3739 40.5409 44.7545 40.9359 44.7545 41.7027C44.7545 42.4463 44.3739 42.8646 43.6127 42.8646ZM45.2694 43.7941C46.1425 43.3758 46.6127 42.609 46.6127 41.5633C46.6127 39.9367 45.4933 38.984 43.635 38.984H39.6947V47.5585H41.4858V44.3518H43.3216C44.441 44.3518 44.8888 45.1883 45.0007 47.512V47.5817H46.8142V47.512C46.7023 45.5136 46.2097 44.3518 45.2694 43.7941ZM40.1201 29.4568C41.5081 29.4568 42.4485 30.5954 42.4485 32.3149C42.4485 34.0345 41.5081 35.1963 40.1201 35.1963C38.732 35.1963 37.7917 34.0345 37.7917 32.3149C37.7917 30.5954 38.732 29.4568 40.1201 29.4568ZM40.1424 36.7765C42.6052 36.7765 44.3291 34.9407 44.3291 32.2917C44.3291 29.6659 42.6052 27.8534 40.1424 27.8534C37.6797 27.8534 35.9558 29.6891 35.9558 32.2917C35.9558 34.8943 37.7021 36.7765 40.1424 36.7765ZM88.2776 41.4704C87.9641 42.3301 87.5387 43.097 86.8223 43.6779C85.3671 44.8862 82.2551 44.8398 80.9566 42.5393C80.4416 41.633 80.1506 40.6571 80.0162 39.6346C79.7476 37.7757 79.7924 35.9399 80.2401 34.1042C80.4192 33.3838 80.7103 32.6867 81.1357 32.0593C82.5909 29.8286 86.3969 29.8518 87.785 32.3149C88.3447 33.2909 88.6358 34.3598 88.7701 35.4519C88.8373 36.1026 88.8821 36.7532 88.9044 37.125C88.8597 38.8213 88.7477 40.1691 88.2776 41.4704ZM90.2925 29.3871C88.6582 27.6675 86.6208 26.9007 84.27 26.9239C83.1058 26.9239 81.964 27.133 80.8894 27.621C79.0311 28.4576 77.7326 29.875 76.8819 31.6875C76.2102 33.105 75.8968 34.5922 75.7848 36.1258C75.6281 38.1707 75.7848 40.1923 76.4565 42.1442C77.6431 45.5369 79.9491 47.6282 83.6432 47.9535C85.076 48.0929 86.4641 47.8838 87.785 47.2797C89.5985 46.4664 90.8746 45.1186 91.7254 43.3526C92.6433 41.4936 92.9344 39.4952 92.9567 37.4503C92.9567 36.1955 92.8224 34.9872 92.5314 33.7789C92.1508 32.129 91.4567 30.6419 90.2925 29.3871ZM65.7996 20.2549H62.307V8.21802H65.7996C69.1579 8.21802 71.1952 10.2397 71.1952 14.2132C71.1952 18.3727 68.934 20.2549 65.7996 20.2549ZM65.7996 4.19799H58.3219V24.2981H65.822C71.531 24.2981 75.2923 20.2549 75.2923 14.2132C75.2923 8.19478 71.4862 4.19799 65.7996 4.19799ZM52.0979 20.1619L40.7245 20.2084C40.2544 20.2084 38.7991 20.2084 37.7917 20.069C36.2916 19.8366 36.2916 19.2092 36.1349 18.21C36.0006 17.2805 34.9036 17.0946 34.2095 17.0017C33.0901 16.839 30.1348 16.4904 25.881 16.4672C23.7765 16.4672 21.9407 16.5369 20.463 16.6299V12.7725C21.9407 12.6796 23.7765 12.5866 25.881 12.6098C30.5602 12.6331 33.0901 12.9584 33.7841 13.0513C34.4782 13.1443 35.5528 13.3999 35.7095 14.3294C35.8663 15.3053 35.8663 15.956 37.3663 16.1884C38.3514 16.3278 39.8066 16.3278 40.2768 16.3278H52.0755V20.1619H52.0979ZM37.0081 4.15152C35.508 3.91915 35.508 3.29175 35.3513 2.29255C35.217 1.36306 34.12 1.13069 33.4259 1.01451C32.7319 0.921557 30.5602 0.573 25.881 0.549763C20.06 0.526526 16.3436 1.15393 16.3436 1.15393V5.2669C16.3436 5.2669 20.06 4.6395 25.881 4.66274C30.5602 4.68597 32.7319 5.01129 33.4259 5.12748C34.12 5.22043 35.1946 5.4528 35.3513 6.40552C35.508 7.38148 35.508 8.03212 37.0081 8.26449C37.9932 8.40392 39.4484 8.40392 39.9186 8.40392H52.0755V12.2148L40.2768 12.2613C39.8066 12.2613 38.3514 12.2613 37.3439 12.1219C35.8439 11.8895 35.8439 11.2621 35.6872 10.2629C35.5528 9.3334 34.4558 9.07779 33.7617 8.98485C33.0677 8.8919 30.5378 8.56658 25.8586 8.54334C20.0376 8.5201 16.3212 9.1475 16.3212 9.1475V21.1379C16.3212 21.1379 20.0376 20.6034 25.8586 20.6266C30.5378 20.6499 33.4931 21.0449 34.1871 21.1611C34.8812 21.2541 35.9558 21.4399 36.1125 22.3694C36.2693 23.3454 36.2693 23.996 37.7693 24.2284C38.7544 24.3678 40.2096 24.3678 40.6798 24.3678H52.0531H56.195V4.24447L39.941 4.29094C39.4708 4.29094 38.0155 4.29094 37.0081 4.15152ZM49.7247 43.9103H53.2173V42.3534H49.7247V40.5176H53.7994V38.9608H47.9112V47.5353H53.9113V45.9784H49.7023V43.9103H49.7247ZM22.9034 40.5409H25.6571V47.5585H27.4706V40.5409H30.2244V38.984H22.9034V40.5409ZM20.2839 29.6891L21.5601 33.4303H19.0078L20.2839 29.6891ZM22.0526 34.9175L22.6571 36.6138H24.5153L21.2914 28.0393H19.1645L15.9629 36.6138H17.9107L18.5152 34.9175H22.0526ZM3.47021 36.6138H5.26128V33.6395L8.66432 28.0625H6.69414L4.34335 31.7572L2.05974 28.0393H0L3.47021 33.6162V36.6138ZM15.3361 35.0569H11.127V32.9888H14.6196V31.4319H11.127V29.5962H15.2017V28.0393H9.33597V36.6138H15.3361V35.0569ZM15.0002 43.6314C15.0002 45.258 14.3958 46.0946 13.1868 46.0946C11.9778 46.0946 11.3733 45.258 11.3733 43.6314V38.984H9.58225V43.7708C9.58225 46.3269 10.8584 47.7212 13.1868 47.7212C15.4928 47.7212 16.7913 46.2805 16.7913 43.7708V38.984H15.0002V43.6314ZM29.1497 31.9199H27.0228V29.5962H29.1497C29.9109 29.5962 30.2915 29.9912 30.2915 30.758C30.2915 31.5249 29.8885 31.9199 29.1497 31.9199ZM32.3289 36.5441C32.2169 34.5922 31.7244 33.4071 30.8065 32.8494C31.6796 32.4311 32.1498 31.6643 32.1498 30.6186C32.1498 28.992 31.0304 28.0393 29.1721 28.0393H25.2318V36.6138H27.0228V33.4071H28.8587C29.9781 33.4071 30.4035 34.2436 30.5378 36.5673V36.637H32.3513L32.3289 36.5441ZM19.8585 38.984H18.0675V47.5585H24.0676V46.0016H19.8585V38.984ZM84.27 24.7396C89.0835 24.7396 92.1955 22.2997 92.1955 18.2565C92.1955 10.472 80.5536 14.1667 80.5536 9.7052C80.5536 8.17155 81.9193 7.19558 84.0462 7.19558C86.6208 7.19558 88.0313 8.54334 87.6955 10.8903H91.703C92.1955 6.61466 89.1507 3.75649 84.1133 3.75649C79.5013 3.75649 76.5013 6.14991 76.5013 10.1235C76.5013 18.0241 88.1208 14.2132 88.1208 18.6747C88.1208 20.2316 86.7104 21.2773 84.3596 21.2773C81.6506 21.2773 80.1282 19.9063 80.2625 17.5361H76.255C75.9192 21.9512 79.1655 24.7396 84.27 24.7396ZM14.642 21.2773V17.0017C10.9256 17.4664 7.00758 18.1868 4.76873 18.698V2.50168C4.76873 2.50168 2.37317 2.91995 0.492545 3.38469V24.2981C0.470157 24.3214 5.57472 22.5553 14.642 21.2773ZM6.76131 44.3285C6.5822 45.4207 5.77621 46.1178 4.70157 46.1178C3.2911 46.1178 2.30601 44.9327 2.30601 43.2364C2.30601 41.5633 3.26871 40.3782 4.67918 40.3782C5.28367 40.3782 5.7986 40.5874 6.11204 40.9824C6.42548 41.3774 6.55981 41.9351 6.44787 42.5625L6.42548 42.6322H8.28372V42.5857C8.44044 41.633 8.21655 40.75 7.65684 40.0529C6.98519 39.2396 5.88816 38.7516 4.65679 38.7516C2.19407 38.7516 0.470157 40.5874 0.470157 43.2132C0.470157 45.8854 2.21645 47.7212 4.70157 47.7212C6.82847 47.7212 8.37327 46.3966 8.64193 44.3518V44.2821H6.73892L6.76131 44.3285Z"
						fill="white"></path>
				</g>
				<defs>
					<clipPath id="clip0_505_4320">
						<rect width="128" height="48" fill="white"></rect>
					</clipPath>
				</defs>
			</svg>
		</div>

		<div>
			<div class="hidden items-center gap-8 lg:flex">
				{
					blok.links.map((item) => (
						<FooterLink sbLink={item.link} linkText={item.linkText ? item.linkText : 'Link'} />
					))
				}
			</div>
		</div>
	</div>

	<div class="flex w-full flex-col gap-4 lg:w-1/2 lg:items-end lg:text-right">
		<span class="text-lg">
			{blok.prependDateText}
			{' '}
			{new Date().getFullYear()}
		</span>
		<span class="max-w-2xl text-[14px] text-gray-200 opacity-60">
			{blok.copyrightText}
		</span>
	</div>
</footer>
