---
import { storyblokEditable } from '@storyblok/astro';

import type { FullWidthVideoStoryblok } from '@/lib/storyblok/types';
import FullWidthVideo from '../react/FullWidthVideo';
type Props = {
	blok: FullWidthVideoStoryblok;
};
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	asdsad
	<FullWidthVideo client:visible blok={blok} />
</div>
