---
import { storyblokEditable } from '@storyblok/astro';

import type { HeroStoryblok } from '@/lib/storyblok/types';
type Props = {
	blok: HeroStoryblok;
};
const { blok } = Astro.props;
---

<div
	class="relative flex min-h-screen flex-col items-center justify-center gap-12"
	{...storyblokEditable(blok)}
>
	{JSON.stringify(blok)}
</div>
