---
import { storyblokEditable } from '@storyblok/astro';

import type { ImageTextWithQuoteStoryblok } from '@/lib/storyblok/types';
type Props = {
	blok: ImageTextWithQuoteStoryblok;
};

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	{JSON.stringify(blok.component)}
</div>
