---
import type { ImageTextWithQuoteStoryblok } from '@/lib/storyblok/types';
type Props = {
	blok: ImageTextWithQuoteStoryblok;
};

const { blok } = Astro.props;
---

<div>{JSON.stringify(blok.component)}</div>
