---
import { storyblokEditable } from '@storyblok/astro';

import type { InteractiveStagesStoryblok } from '@/lib/storyblok/types';
import InteractiveStages from '@/components/react/InteractiveStages';

type Props = {
	blok: InteractiveStagesStoryblok;
};
const { blok } = Astro.props;
---

<div id="interactiveStages" {...storyblokEditable(blok)}>
	<InteractiveStages client:visible blok={blok} />
</div>
