---
import { storyblokEditable } from '@storyblok/astro';

import type { MediaLinksStoryblok } from '@/lib/storyblok/types';
type Props = {
	blok: MediaLinksStoryblok;
};
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	{JSON.stringify(blok.component)}
</div>
