---
import { storyblokEditable } from '@storyblok/astro';

import type { ProjectsStoryblok } from '@/lib/storyblok/types';
import Projects from '../react/Projects';
type Props = {
	blok: ProjectsStoryblok;
};

let initialProjectsData = [];

try {
	const res =
		process.env.ENV_NAME && process.env.ENV_NAME === 'production'
			? await fetch(`${import.meta.env.SITE_URL}/programme/data`)
			: await fetch(`${import.meta.env.SITE_URL}/programme/data.json`);
	initialProjectsData = await res.json();
} catch (error) {
	console.log(error);
}

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<Projects client:load initialProjectData={initialProjectsData} blok={blok} />
</div>
