---
import { storyblokEditable } from '@storyblok/astro';
import type { ProjectsStoryblok } from '@/lib/storyblok/types';
import Projects from '../react/Projects';
import { fetchAllProjectsTransformed } from '@/lib/storyblok/helpers';
type Props = {
	blok: ProjectsStoryblok;
};

const data = await fetchAllProjectsTransformed();

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<Projects client:only initialProjectData={data} blok={blok} />
</div>
