---
import { storyblokEditable } from '@storyblok/astro';
import type { ProjectsStoryblok } from '@/lib/storyblok/types';
import Projects from '../react/Projects';
import { fetchAllProjectsTransformed } from '@/lib/storyblok/helpers';
type Props = {
	blok: ProjectsStoryblok;
};

const data = await fetchAllProjectsTransformed();
const { blok } = Astro.props;
const filteredData =
	blok.showProjects.toLowerCase() === 'all'
		? data
		: data.filter((project) => project.category === blok.showProjects.toLowerCase());
---

<div {...storyblokEditable(blok)}>
	<Projects client:only initialProjectData={filteredData} blok={blok} />
</div>
