---
import type { LegacySpacerStoryblok } from '@/lib/storyblok/types';
import { cn } from '@/lib/utils';
type Props = {
	blok: LegacySpacerStoryblok;
};
const { blok } = Astro.props;
---

<div
	class={cn(
		blok.size === 'small' && 'h-8',
		blok.size === 'medium' && 'h-16',
		blok.size === 'large' && 'h-24',
		blok.spacerRules && blok.spacerRules === 'desktopOnly'
			? 'hidden lg:block'
			: blok.spacerRules === 'mobileOnly'
			? 'lg:hidden'
			: ''
	)}
>
</div>
