---
import type { StatsStoryblok } from '@/lib/storyblok/types';
import { cn } from '@/lib/utils';
import { storyblokEditable } from '@storyblok/astro';
import Stat from '../ui/Stat.astro';
type Props = {
	blok: StatsStoryblok;
};
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<div
		class={cn(
			'grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3',
			blok.isTwoColumns && 'md:grid-cols-1 lg:grid-cols-2'
		)}
	>
		{blok.stats.map((item) => <Stat blok={item} isWide={blok.isTwoColumns ? true : false} />)}
	</div>
</div>
