---
import type { StatsStoryblok } from '@/lib/storyblok/types';
import { cn } from '@/lib/utils';
import { storyblokEditable } from '@storyblok/astro';
import Stat from '../ui/Stat.astro';
type Props = {
	blok: StatsStoryblok;
};
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	{
		blok.isBento ? (
			<div class={cn()} />
		) : (
			<div class="flex gap-6">
				{blok.stats.map((item) => (
					<Stat blok={item} />
				))}
			</div>
		)
	}
</div>
