---
import { SEO } from 'astro-seo';
import type { Seo } from '@/lib/storyblok/types';
import '@/styles/fonts.css';
import { fetchNavAndFooter } from '@/lib/storyblok/helpers';
import Navigation from '@components/react/Navigation';
import Footer from '@/components/nestable/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

type Props = {
	seo: Seo;
};

const {
	content: { nav, footer },
} = await fetchNavAndFooter();

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<ViewTransitions />
		<SEO
			title={seo.title && seo.title !== '' ? seo.title : 'Leeds 2023'}
			description={seo.description && seo.description !== ''
				? seo.description
				: 'Stories from a year of culture. Which brought us together, changed our minds and emboldened our city.'}
			openGraph={{
				basic: {
					title:
						seo.og_title && seo.og_title !== ''
							? seo.og_title
							: seo.title
							? seo.title
							: 'Leeds 2023',
					type: 'website',
					image: seo.og_image && seo.og_image.filename ? seo.og_image.filename : '',
				},
			}}
			twitter={{
				creator: '@LEEDS_2023',
				site: '@LEEDS_2023',
				card: 'summary_large_image',
				title:
					seo.twitter_title && seo.twitter_title !== ''
						? seo.twitter_title
						: seo.og_title && seo.og_title !== ''
						? seo.og_title
						: seo.title && seo.title !== ''
						? seo.title
						: 'Leeds 2023',
				image:
					seo.twitter_image && seo.twitter_image.filename
						? seo.twitter_image.filename
						: seo.og_image.filename
						? seo.og_image.filename
						: '',
			}}
			extend={{
				link: [
					{
						rel: 'icon',
						href: '/favicon.ico',
					},
				],
				meta: [
					{
						name: 'viewport',
						content: 'width=device-width',
					},
				],
			}}
		/>
	</head>
	<body>
		<Navigation client:load blok={nav[0]} />
		<div class="pb-16"></div>
		<slot />
		<Footer blok={footer[0]} />
		<style is:global>
			html {
				font-family: 'DM Sans', system-ui, sans-serif;
				@apply text-[18px] 3xl:text-[20px] 4xl:text-[22px];
			}

			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}

			* {
				box-sizing: border-box;
			}

			.embla {
				--slide-spacing: 1rem;
				--slide-size: 22%;
				--slide-height: 19rem;
				padding: 1.6rem;
			}
			.embla__viewport {
				overflow: hidden;
			}
			.embla__container {
				backface-visibility: hidden;
				display: flex;
				touch-action: pan-y;
				margin-left: calc(var(--slide-spacing) * -1);
			}
			.embla__slide {
				min-width: 0;
				padding-left: var(--slide-spacing);
				position: relative;
			}

			.embla__slide {
				@apply flex-[0_0_75%] sm:flex-[0_0_55%] md:flex-[0_0_40%] lg:flex-[0_0_30%] xl:flex-[0_0_22%];
			}
			.embla__slide__img {
				display: block;
				height: var(--slide-height);
				width: 100%;
				object-fit: cover;
			}

			.rsm-geography {
				@apply outline-none;
			}
		</style>
	</body>
</html>
