---
import { storyblokEditable } from '@storyblok/astro';

import Layout from '@/components/layouts/Layout.astro';
import type { SectionStoryblok, Seo } from '@/lib/storyblok/types';
import Render from '@/lib/storyblok/Render.astro';
type Props = {
	blok: {
		seo: Seo;
		blocks: any;
		_uid: string;
		component: string;
		_editable: string;
	};
};

const { blok } = Astro.props;
---

<Layout seo={blok.seo}>
	<main class="relative z-[-3]" {...storyblokEditable(blok)}>
		{blok.blocks.map((item: SectionStoryblok) => <Render blok={item} />)}
	</main>
</Layout>
