---
import Layout from '@/layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Highlights from '@components/Highlights.astro';
import ScrollingText from '@/components/ScrollingText.astro';
import TitleTextCta from '@/components/TitleTextCta.astro';
import Section from '@/components/ui/Section.astro';
import Spacer from '@/components/ui/Spacer.astro';
import Container from '@/components/ui/Container.astro';
import EventCardList from '@/components/EventCardList.astro';
import EventCard from '@/components/EventCard.astro';
---

<Layout title="Leeds 2023 - Legacy">
	<main>
		<Hero />
		<ScrollingText />
		<Highlights />
		<Section color={'mint'}>
			<Container>
				<TitleTextCta
					title="Hello"
					description="asdadsadsdasdsdsaddsfdsadgasfasdasdsafasfasdas"
					cta={{ type: 'link', link: '#', text: 'Click me' }}
				/>
				<Spacer />
				<TitleTextCta description="sdsadasdasd" centered />
			</Container>
		</Section>

		<Section>
			<EventCardList itemsPerRow={'2'}>
				<EventCard
					title="sadda"
					description="asdasdsad"
					image="https://www.dreamiestreats.co.uk/cdn-cgi/image/format=auto,q=90/sites/g/files/fnmzdf3866/files/2023-01/When-should-I-give-my-cat-catnip-detail.jpg"
					alt="Cat"
					cta={{ type: 'link', link: '#', text: 'Click me' }}
				/>
				<EventCard
					title="sadda"
					description="asdasdsad"
					image="https://www.dreamiestreats.co.uk/cdn-cgi/image/format=auto,q=90/sites/g/files/fnmzdf3866/files/2023-01/When-should-I-give-my-cat-catnip-detail.jpg"
					alt="Cat"
					cta={{ type: 'link', link: '#', text: 'Click me' }}
				/>
				<EventCard
					title="sadda"
					description="asdasdsad"
					image="https://www.dreamiestreats.co.uk/cdn-cgi/image/format=auto,q=90/sites/g/files/fnmzdf3866/files/2023-01/When-should-I-give-my-cat-catnip-detail.jpg"
					alt="Cat"
					cta={{ type: 'link', link: '#', text: 'Click me' }}
				/>
			</EventCardList>
		</Section>
	</main>
</Layout>
