---
import Layout from '@/layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Highlights from '@components/Highlights.astro';
import ScrollingText from '@/components/ScrollingText.astro';
---

<Layout title="Leeds 2023 - Legacy">
	<main>
		<Hero />
		<ScrollingText />
		<Highlights />
	</main>
</Layout>
