---
import { cn } from '@/lib/utils';
import { cva, type VariantProps } from 'class-variance-authority';

const button = cva('button', {
	variants: {
		size: {
			small: 'text-base py-2 px-4',
			medium: 'text-lg py-3 px-6',
			large: 'text-xl py-3 px-6',
		},
		color: {
			primary:
				'bg-buttonRed-default text-white font-display font-semibold hover:bg-buttonRed-hover focus:ring-2 focus:ring-buttonRed-hover focus:ring-opacity-50',
			secondary: '',
			tertiary: '',
		},
	},
});

type ButtonVariants = VariantProps<typeof button>;

type Props = ButtonVariants & {
	type?: 'link' | 'button';
	href?: string;
	className?: string;
	dataElementName?: string;
	ariaLabel?: string;
};

const {
	type = 'button',
	href,
	size = 'medium',
	color = 'primary',
	className,
	dataElementName,
	ariaLabel,
} = Astro.props;
---

{
	type === 'link' && (
		<a href={href} class={cn(button({ size, color }), className)}>
			<slot />
		</a>
	)
}

{
	type === 'button' && (
		<button
			aria-label={ariaLabel}
			data-element={dataElementName}
			class={cn(button({ size, color }), className)}
		>
			<slot />
		</button>
	)
}
