---
import { storyblokEditable } from '@storyblok/astro';

import type { ColumnBlockStoryblok } from '@/lib/storyblok/types';

export type ColumnBlock = Props;

type Props = {
	blok: ColumnBlockStoryblok;
};

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<p>{JSON.stringify(blok.component)}</p>
</div>
