---
import { cn } from '@/lib/utils';
import { cva, type VariantProps } from 'class-variance-authority';
const section = cva('section', {
	variants: {
		color: {
			mint: 'bg-brandMint-100',
			white: 'bg-white',
			rose: 'bg-brandRose-100',
			cream: 'bg-brandCream-80',
			lightCream: 'bg-brandCream-40',
			burgundy: 'bg-brandBurgundy-100',
			teal: 'bg-brandTeal-100',
			yellow: 'bg-brandYellow-100',
			green: 'bg-brandDarkGreen-100',
		},
		padding: {
			small: 'py-8',
			medium: 'py-16',
			large: 'py-24',
			xlarge: 'py-6 md:py-24 xl:py-48',
		},
	},
});

type SectionProps = VariantProps<typeof section>;

type Props = SectionProps & {
	className?: string;
};

const { padding = 'medium', color = 'white', className } = Astro.props;
---

<section class={cn(section({ padding, color }), className)}>
	<slot />
</section>
