---
import { cn } from '@/lib/utils';
import { cva, type VariantProps } from 'class-variance-authority';

const element = {
	p: 'p',
	span: 'span',
} as const;

type ElementType = (typeof element)[keyof typeof element];

const text = cva('text', {
	variants: {
		size: {
			xsmall: 'text-sm',
			small: 'text-base',
			medium: 'text-lg',
			large: 'text-xl',
			extraLarge: 'text-2xl',
			superLarge: 'text-xl xl:text-2xl',
		},
		color: {
			default: '',
			light: 'text-lightText-30',
			dark: 'text-darkText-30',
		},
	},
	defaultVariants: {
		size: 'small',
		color: 'default',
	},
});

type TextVariant = VariantProps<typeof text>;

type Props = TextVariant & {
	type?: ElementType;
	className?: string;
	customAttributes?: {
		id: string;
	};
};

const { size = 'large', color = 'default', type = 'p', className, customAttributes } = Astro.props;
---

{
	type === 'p' ? (
		<p {...customAttributes} class={cn(text({ size, color }), className)}>
			<slot />
		</p>
	) : (
		<span {...customAttributes} class={cn(text({ size, color }), className)}>
			<slot />
		</span>
	)
}
